@import "tw-animate-css";
@import "./variants.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-destructive: var(--destructive);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar: var(--sidebar);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
}
